.md-typeset h1{
	font-size:2rem!important;
	color:white!important;
	background-color:#3f51b5;
	border: 5px ridge #3f51b5;
	border-radius:10px;
	text-align:center;
	font-weight: bold;
    color: var(--md-default-fg-color--light);
}


.md-typeset h2 {
    font-size:1.5rem!important;
    color: var(--md-default-fg-color--light);
    font-weight: bold;
}




@media print {

    *{
        font-size: 10pt!important;
    }
    .md-typeset h1{
        font-size:20pt!important;
        color:black!important;
        border: 5px ridge #3f51b5;
        border-radius:10px;
        text-align:center;
        font-weight: bold;
        color: var(--md-default-fg-color--light);
    }
    h1{
        font-size:20pt!important;
        color:black!important;
        background-color:white!important;
        border: 1px solid black;
        border-radius: 0px;
        text-align:center;
        font-weight:bold;
    }
    
    .md-typeset h2{
        font-size:12pt!important;
        color: var(--md-default-fg-color--light);
        background-color:white!important;
        border: 1px dashed #aaa;
        font-weight: bold;
    }


    .solution{
        display: none!important;
    }
}




@page {
    size: a4 portrait;
    margin: 20mm 10mm 20mm 10mm;
     
     
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    
    white-space: pre;
    color: grey;
    @bottom-left {
        font-size: 5pt; 
        content: 'NSI';
    }
    @bottom-right {
        font-size: 5pt; 
        content: 'LPA';
    }
     
}

 
 
